// 使用教程： https://www.cnblogs.com/1906859953Lucas/p/10954929.html

// 使用教程： https://www.cnblogs.com/1906859953Lucas/p/10954929.html

@font-face {
  font-family: 'iconfont';  /* project id 1669382 */
  src: url('//at.alicdn.com/t/font_1669382_tvbf8ljvq8.eot');
  src: url('//at.alicdn.com/t/font_1669382_tvbf8ljvq8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1669382_tvbf8ljvq8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1669382_tvbf8ljvq8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1669382_tvbf8ljvq8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1669382_tvbf8ljvq8.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconicon-back-ll:before {
  content: "\e615";
}

.iconshuru:before {
  content: "\e610";
}

.iconmore:before {
  content: "\e614";
}

.iconicon-back-l:before {
  content: "\e612";
}

.iconicon-back-b:before {
  content: "\e613";
}
